name: release

on:
  push:
    branches:
      - main
permissions:
  contents: read
jobs:
  release:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun install --frozen-lockfile
      - run: bun test
      - run: bun run build
      - run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "28917343+github-actions[bot]@users.noreply.github.com"
          NEW_VERSION=$(npm version patch -m "Bump version to %s [skip ci]")
          git push
          echo "NEW_VERSION=${NEW_VERSION}" >> $GITHUB_ENV
      - run: bun publish --access public
        env:
          BUN_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - uses: release-drafter/release-drafter@v5
        with:
          tag: ${{ env.RELEASE_TAG }}
          name: Release ${{ env.RELEASE_TAG }}
          version: ${{ env.RELEASE_TAG }}
          publish: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RELEASE_TAG: ${{ env.NEW_VERSION }}